@media (min-width: 426px) {
  .payments__wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 50px;
    width: 100%;

    &::before {
      width: 100%;
      border: 1px solid grey;
      border-bottom: none;
      border-left: none;
      border-right: none;
      content: "";
      padding-bottom: 10px;
    }

    &::after {
      border: 1px solid grey;
      border-bottom: none;
      border-left: none;
      border-right: none;
      content: "";
      padding-bottom: 10px;
    }

  }

  .payments__group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    min-width: 320px;
    max-width: 100%;
  }
}


@media (max-width: 425px) {
  .payments__wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 20px;

    &::before {
      border: 1px solid grey;
      border-bottom: none;
      border-left: none;
      border-right: none;
      content: "";
      padding-bottom: 10px;
    }

    &::after {
      border: 1px solid grey;
      border-bottom: none;
      border-left: none;
      border-right: none;
      content: "";
      padding-bottom: 10px;
    }

  }

  .payments__group {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
  }

  .payments__item {
    display: block;
    margin: 0 auto;
  }

}